ellsipsis()
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
index_title()
    padding 0.1rem 0
    font-size 0.3rem
    margin-bottom 0.1rem
recommend_title()
    padding-left 0.2rem
    margin-top 0.2rem
    padding-bottom 0.2rem
    padding-top 0.2rem
    background #fff